{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% include 'components/header.html' %}
<main>
    <div class="flex-main">
        <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        <p>{{ wizard }}</p>
        <p>{{ wizard.steps }}</p>
        <p>{{ wizard.management_form }}</p>
        <p>{{ request.session }}</p>
        <p>{{ request }}</p>

        <div class="box form-block">
            <h2 class="title-1">Создание аккаунта</h2>
            <form action="" method="post">
                {% csrf_token %}
                {{ wizard.management_form }}
                <div class="inputs">
                    {% block form_wizard %}
                    {% endblock %}
                </div>
                <div class="buttons">
                    {% block button_wizard %}
                    {% endblock %}
                </div>
                {% block extra %}
                {% endblock %}
            </form>
        </div>
    </div>
</main>
{% include 'components/footer.html' %}
{% endblock %}