{% extends "signup_app/signup.html" %}
{% load widget_tweaks %}

{% block form_wizard %}
<div class="field">
    <label for="">Придумайте пароль<br>(минимум 6 латинских букв и 2 цифры)</label>
    {% render_field form.password1 class="input-pass" type="password" placeholder="Пароль" %}
    <span class="error-message">
        {% for error in form.password1.errors %}
            {{ error|escape }}
        {% endfor %}
    </span>
</div>
<div class="field">
    {% render_field form.password2 class="input-pass" type="password" placeholder="Повторите пароль" %}
    <span class="error-message">
        {% for error in form.password2.errors %}
            {{ error|escape }}
        {% endfor %}
    </span>
</div>
{% endblock %}

{% block button_wizard %}
    <button class="btn-primary-large" type="submit" value="submit">Продолжить</button>
    <button class="btn-secondary-large" name="wizard_goto_step"  value="{{ wizard.steps.prev }}" formnovalidate>Назад</button>
{% endblock %}

{% block extra %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="error-message">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="error-message">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}