{% extends "signup_app/signup.html" %}
{% load widget_tweaks %}

{% block form_wizard %}
<div class="field">
    <label for="">Введите название компаниии</label>
    <input class="input" type="text" id="text" name="text" placeholder="Название компании">
    <span class="error-message"></span>
</div>
<div class="field">
    <label for="">Введите ИНН</label>
    <input class="input" type="number" id="text" name="text" placeholder="0000000000">
    <span class="error-message"></span>
</div>
{% endblock %}

{% block button_wizard %}
<button class="btn-primary-large">Завершить регистрацию</button>
<a class="btn-secondary-large">Назад</a>
{% endblock %}
{% block extra %}
<p class="form-subtitle">Нажимая «Завершить регистрацию», вы подтверждаете, что ознакомлены, полностью согласны
    и принимаете условия <a href="#" class="link-green-small">«Соглашения об оказании услуг по содействию в
        трудоустройстве»</a></p>
{% endblock %}
