{% extends "signup_app/signup.html" %}
{% load widget_tweaks %}

{% block form_wizard %}
<div class="field">
    <input class="input" type="text" id="" name="" placeholder="Имя">
    <span class="error-message"></span>
</div>
<div class="field">
    <input class="input" type="text" id="" name="" placeholder="Фамилия">
    <span class="error-message"></span>
</div>
<div class="field">
    <label>Введите дату рождения</label>
    <input class="input" type="number" id="number" name="number" placeholder="ДД.ММ.ГГГГ">
    <span class="error-message"></span>
</div>
<div class="field">
    <label for="">Выберите пол</label>
    <div class="radio-select">
        <div class="radio">
            <input type="radio" name="sex" checked />
            <label class="radio-label">Мужской</label>
        </div>
        <div class="radio">
            <input type="radio" name="sex" />
            <label class="radio-label">Женский</label>
        </div>
    </div>
</div>
{% endblock %}

{% block button_wizard %}
    <button class="btn-primary-large">Завершить регистрацию</button>
    <a href="#" class="btn-secondary-large">Назад</a>
{% endblock %}