<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
            <div class="content">
                <div class="employee_profile">
                    <div class="prof_logo">
                        <img src="images/avatar_company.svg" alt="">
                        <div class="prof_logo_profile">
                            <h2>GrassJob</h2>
                            <h3>Сфера деятельности</h3>
                                <p class="change">Количество сотрудников</p>
                                <p class="change">Город не указан</p>                      
                            </div>
                    </div>
                    <div class="line">
                        <hr>
                    </div>
                    <div class="about_me">
                    <div class="flex">
                    <h2>О компании</h2>
                    <a href="/">Изменить</a>
                </div>
                    <p>Напишите краткое описание вашей компании. </p>
                </div>
                    <div class="education">
                        <div class="flex">
                        <h2>Вакансии</h2>
                        <a href="/">Изменить</a>
                        </div>
                        <p>Добавьте вакансии, чтобы найти специалистов, которые сделают вашу компанию лучше.</p>
                        </div>
                <div class="info">Добавьте информацию о вас</div>
            </div>
                <div class="other_block">
                    <div  class="contact_form">
                        <h2>Контактные данные</h2>
                        <h4>Сайт</h4>
                        <a href="#" class="change">ivangrass.ru</a>
                        <h4>Телефон</h4>
                        <p>+7 (988) 333-42-02</p>
                        <h4>Email</h4>
                        <p>deanna.curtis@example.com</p>
                        <a class="link" href="/">Изменить</a>
                    </div>
                    <div class="vacancies_logo_text">Рекомендованные вакансии</div>
                    <div  class="vacancies">
                        <div>
                            <h3>Инженер</h3>
                            <h4>GrassJob</h4>
                            <h5>42 мин. назад</h5>
                        </div>
                        <p>от 60 000 ₽</p>
                        <a href=""><button type="button" class="btn_white">Перейти</button></a>
                    </div>
                    <div class="vacancies">
                        <div>
                            <h3>Разработчик</h3>
                            <h4>GrassJob</h4>
                            <h5>Вчера</h5>
                        </div>
                        <p>от 60 000 ₽</p>
                        <a href=""><button type="button" class="btn_white">Перейти</button></a>
                    </div>
                    <div  class="vacancies">
                        <div>
                            <h3>Менеджер</h3>
                            <h4>GrassJob</h4>
                            <h5>28.11</h5>
                        </div>
                        <p>от 60 000 ₽</p>
                        <a href=""><button type="button" class="btn_white">Перейти</button></a>
                    </div>  
                </div>     
            </div>
        </div>
</body> 
</html>