{% load static %}
<div class="box modal-block">
    <div class="modal-close"></div>
    <h2 class="title-1 modal-pt">Основная информация</h2>
    <div class="modal-information">
        <div class="modal-information__bio-and-photo">
            <div class="modal-information__bio-and-photo-avatar">
                <img src="{% static 'img/avatar-user-empty.svg' %}" alt="avatar user empty">
            </div> 
            <div class="modal__inputs">
                <div class="field is-fluid">
                    <label for="">Фамилия</label>
                    <input class="input input-fluid" type="text" id="" name="" placeholder="Иванов">
                    <span class="error-message"></span>
                </div>
                <div class="field is-fluid">
                    <label for="">Имя</label>
                    <input class="input input-fluid" type="text" id="" name="" placeholder="Иван">
                    <span class="error-message"></span>
                </div>
                <div class="field is-fluid">
                    <label for="">Отчество</label>
                    <input class="input input-fluid" type="text" id="" name="" placeholder="Иванович">
                    <span class="error-message"></span>
                </div>
                <div class="field is-fluid">
                    <label for="">Желаемая зарплата</label>
                    <input class="input" type="number" id="" name="" placeholder="10 000">
                    <span class="error-message"></span>
                </div>   
            </div>
        </div>
        <div class="modal__inputs">
            <div class="field is-fluid">
                <label for="">Дата рождения</label>
                <input class="input input-fluid" type="text" id="" name="" placeholder="01.01.2000">
                <span class="error-message"></span>
            </div>
            <div class="field is-fluid">
                <label for="">Пол</label>
                <div class="radio-select">
                    <div class="radio">
                        <input type="radio" name="sex" checked />
                        <label class="radio-label">Мужской</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="sex" />
                        <label class="radio-label">Женский</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal__inputs">
            <div class="field is-fluid">
                <label for="">Компания</label>
                <input class="input input-fluid" type="text" id="" name="" placeholder="Компания">
                <span class="error-message"></span>
            </div>
            <div class="field is-fluid">
                <label for="">Должность</label>
                <input class="input input-fluid" type="text" id="" name="" placeholder="Должность">
                <span class="error-message"></span>
            </div>
        </div>
        <div class="modal__inputs">
            <div class="field is-fluid">
                <label for="">Город проживания</label>
                <input class="input input-fluid" type="text" id="" name="" placeholder="Город">
                <span class="error-message"></span>
            </div>
            <div class="field is-fluid">
                <label for="">Готов к переезду</label>
                <div class="radio-select">
                    <div class="radio">
                        <input type="radio" name="moving" checked />
                        <label class="radio-label">Готов</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="moving" />
                        <label class="radio-label">Не готов</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="buttons modal-buttons">
        <button class="btn-primary-large btn-fluid" formaction="">Сохранить изменения</button>
        <button class="btn-secondary-large btn-fluid" formaction="">Отмена</button>
    </div>
</div>