{% extends 'base.html' %}

{% block content %}
<div class="content">
    <div class="box">
        <h1>Профиль сотрудника</h1>
            {% if profile.photo %}
                <img src="{{ profile.photo.url }}" alt="connect" class="image is-128x128">
            {% endif %}
        <p class="title is-5">Основная информация</p>

        <div class="columns is-mobile">
            <div class="column is-four-fifth-mobile is-two-thirds-tablet is-two-thirds-desktop ">
                <div class="is-flex is-justify-content-space-between">
                  <span>Имя:</span>
                  <span>{{ profile.name }}</span>
                </div>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-four-fifth-mobile is-two-thirds-tablet is-two-thirds-desktop ">
                <div class="is-flex is-justify-content-space-between">
                  <span>Фамилия:</span>
                  <span>{{ profile.surname }}</span>
                </div>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-four-fifth-mobile is-two-thirds-tablet is-two-thirds-desktop ">
                <div class="is-flex is-justify-content-space-between">
                  <span>Отчество:</span>
                  <span>{{ profile.patronymic }}</span>
                </div>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-four-fifth-mobile is-two-thirds-tablet is-two-thirds-desktop ">
                <div class="is-flex is-justify-content-space-between">
                  <span>Возраст:</span>
                  {% if profile.birth_date %}
                        <span>{{ age }} {{ end_age }}</span>
                  {% endif %}
                </div>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-four-fifth-mobile is-two-thirds-tablet is-two-thirds-desktop ">
                <div class="is-flex is-justify-content-space-between">
                  <span>Пол:</span>
                  <span>{{ profile.get_gender_display }}</span>
                </div>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-four-fifth-mobile is-two-thirds-tablet is-two-thirds-desktop ">
                <div class="is-flex is-justify-content-space-between">
                  <span>Желаемая должность:</span>
                  <span>{{ profile.career_objective }}</span>
                </div>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-four-fifth-mobile is-two-thirds-tablet is-two-thirds-desktop ">
                <div class="is-flex is-justify-content-space-between">
                  <span>Зарплата:</span>
                  <span>{{profile.salary_min}} - {{profile.salary_max}} р.</span>
                </div>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-four-fifth-mobile is-two-thirds-tablet is-two-thirds-desktop ">
                <div class="is-flex is-justify-content-space-between">
                  <span>Опыт работы:</span>
                  <span>{{profile.work_experience}} {{ end_exp }}</span>
                </div>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-four-fifth-mobile is-two-thirds-tablet is-two-thirds-desktop ">
                <div class="is-flex is-justify-content-space-between">
                  <span>Навыки:</span>
                  <span>{{profile.skills}}</span>
                </div>
            </div>
        </div>
        <p class="title is-5">Образование</p>
        <div class="columns is-mobile">
            <div class="column is-four-fifth-mobile is-two-thirds-tablet is-two-thirds-desktop ">
                <div class="is-flex is-justify-content-space-between">
                  <span>Уровень образования:</span>
                  <span>{{profile.get_level_of_education_display }}</span>
                </div>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-four-fifth-mobile is-two-thirds-tablet is-two-thirds-desktop ">
                <div class="is-flex is-justify-content-space-between">
                  <span>Учебное заведение:</span>
                  <span>{{profile.edu_institution}}</span>
                </div>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-four-fifth-mobile is-two-thirds-tablet is-two-thirds-desktop ">
                <div class="is-flex is-justify-content-space-between">
                  <span>Дипломы и сертификаты:</span>
                  <span>{{profile.diplomas_certificates}}</span>
                </div>
            </div>
        </div>
        <div class="control">
            {% if user.pk == profile.pk %}
                <a class="button is-primary" href="{{profile.get_absolute_url}}/update/">редактировать профиль</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}