{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<div class="box">
    {% for profile in object_list %}
        <div class="columns is-centered">
            <div class="column is-two-thirds">
                <div class="box has-background-white-ter mt-5 is-flex is-align-content-space-around">
                        {% if profile.photo %}
                             <a href="{{ profile.get_absolute_url }}">
                                 <img class="image is-128x128 mr-5" src="{{ profile.photo.url }}" alt="none">
                             </a>
                        {% else %}
                            <a href="{{ profile.get_absolute_url }}">
                                 <img class="image is-128x128 mr-5" src="{% static 'img/anonym-user.png' %}" alt="none">
                            </a>
                        {% endif %}
                        <div class="content">
                            <h2 class="subtitle is-3">{{ profile }}</h2>
                            <p>{{ profile.name }}</p>
                            <p>{{ profile.surname }}</p>
                            <p>{{ profile.patronymic }}</p>
                        </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}