{% extends 'base.html' %}

{% block content %}
    {% include 'components/navbar.html' %}
<!--    {% if user.is_authenticated %}-->
<!--        <p>Привет {{ user.email }}!</p>-->
<!--    {% endif %}-->
    <form method="POST" enctype='multipart/form-data' action="">
        {% csrf_token %}
        {% for input in form %}
            <p>{{ input.label }}</p>
            <div class="field">
                <p>{{ input }}</p>
            </div>
        {% endfor %}
        <div class="buttons">
            <button class="button is-primary" type="submit">Подтвердить</button>
            <a href="{% url 'profile-company' pk=user.pk %}" class="button is-danger">Отмена</a>
        </div>
    </form>
{% endblock %}