
.idea/shelf/Uncommitted_changes_before_Update_at_02_04_2023_16_46_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_02_04_2023_16_46__Changes_.xml
*.xml
*.sqlite3
*.pyc
.env
