<div class="box modal-block-confirm">
    <div class="modal-close"></div>
    <h2 class="modal-block-confirm__title modal-pt">Вы точно хотите удалить место работы?</h2>
    <div class="modal-information">
        <p class="modal-subtitle">Отменить данное действие будет невозможно.</p>
    </div>
    <div class="buttons modal-buttons-confirm">
        <button class="btn-primary-medium-is-danger btn-fluid" formaction="">Удалить</button>
        <button class="btn-secondary-medium-is-danger btn-fluid" formaction="">Нет, не удалять</button>
    </div>
</div>