{% load widget_tweaks %}
{% load static %}
<div class="box modal-block">
    <form hx-post="{% url 'profile-education-add' user.profile.pk %}" enctype="multipart/form-data">{% csrf_token %}
        <div class="modal-close"></div>
        <h2 class="title-1 modal-pt">Образование</h2>
        <div class="modal-information">
            <div class="modal__inputs">
                <div class="field is-fluid">
                    <label for="">Учебное заведение</label>
                    {% render_field form.edu_institution class="input is-fluid" placeholder="Университет, колледж или институт" %}
                </div>
                <div class="field is-fluid">
                    <label for="">Степень образования</label>
                    {% render_field form.level_of_education class="input is-fluid" %}
                </div>
            </div>
            <div class="modal__inputs">
                <div class="field is-fluid">
                    <label for="">Специальность</label>
                    {% render_field form.speciality class="input is-fluid" placeholder="Ваша специальность" %}
                </div>
                <div class="field is-fluid">
                    <label for="">Год поступления</label>
                    {% render_field form.year_of_start_edu class="input is-fluid"%}
                </div>
            </div>
            <div class="modal__inputs">
                <div class="field is-fluid">
                    <label for="">Диплом или сертификат</label>
                    {% render_field form.diploma_certificate class="input is-fluid"%}
                </div>
                <div class="field is-fluid">
                    <label for="">Год окончания</label>
                    {% render_field form.year_of_start_edu class="input is-fluid"%}
                </div>
            </div>
        </div>
        <div class="buttons modal-buttons">
            <button class="btn-primary-large btn-fluid" type="submit">Сохранить изменения</button>
            <a href="#" x-on:click="isModalOpen = false" class="btn-secondary-large btn-fluid">Отмена</a>
        </div>
    </form>
</div>