{% load widget_tweaks %}
{% load static %}
<div class="box modal-block">
    <form hx-post="{% url 'hx-update' profile.pk 'ExpJob' 'ProfileExpForm' %}" enctype="multipart/form-data">{% csrf_token %}
        <div class="modal-close"></div>
        <h2 class="title-1 modal-pt">Опыт работы</h2>
        <div class="modal-information">
            <div class="modal__inputs">
                <div class="field is-fluid">
                    <label for="">Название компании</label>
                    {% render_field form.company_name class="input is-fluid" placeholder="компания" %}
                </div>
                <div class="field is-fluid">
                    <label for="">Тип занятости</label>
                    {% render_field form.type_employment class="input is-fluid" %}
                </div>
            </div>
            <div class="modal__inputs">
                <div class="field is-fluid">
                    <label for="">Должность</label>
                    {% render_field form.job_function class="input is-fluid" placeholder="Должность" %}
                </div>
                <div class="field is-fluid">
                    <label for="">Местоположение</label>
                    {% render_field form.city class="input is-fluid" placeholder="Город" %}
                </div>
            </div>
            <div class="modal__inputs">
                <div class="field is-half">
                    <label for="">Дата начала</label>
                    <div class="field-flex ">
                        {% render_field form.year_of_start_job class="input is-auto-flex"%}
                    </div>
                </div>
            </div>
            <div class="modal__inputs">
                <div class="field">
                    <div class="field-flex">
                        <span>{{ form.at_now_time }}</span> <label for="">По настоящее время</label>
                    </div>
                </div>
            </div>
            <div class="modal__inputs">
                <div class="field is-half">
                    <label for="">Дата окончания</label>
                    <div class="field-flex ">
                        {% render_field form.year_of_end_job class="input is-auto-flex"%}
                    </div>
                </div>
            </div>
            <div class="modal__inputs">
                <div class="field is-fluid">
                    <label for="">Обязанности на рабочем месте</label>
                    <div class="field-flex ">
                        {% render_field form.work_responsibilities class="input input-textarea is-fluid" placeholder="Напишите чем вы занимались в компании" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons modal-buttons">
            <button class="btn-primary-large btn-fluid" type="submit">Сохранить изменения</button>
            <a href="#" x-on:click="isModalOpen = false" class="btn-secondary-large btn-fluid">Отмена</a>
        </div>
    </form>
</div>