{% extends 'profile_app/partials/modal-contact-data.html' %}
{% load widget_tweaks %}

{% block form %}
    <form hx-post="{% url 'hx-update' user.pk 'Profile' 'ProfileContactDataForm' %}">{% csrf_token %}
{% endblock %}

{% block site %}
    {% render_field form.site class="input is-fluid" placeholder="Ваша персональная страница" %}
{% endblock %}

{% block email %}
    {% render_field form.email class="input is-fluid" placeholder="Ваш E-mail" %}
{% endblock %}

{% block phone %}
    {% render_field form.phone class="input is-fluid" x-mask="+9 (999) 999-99-99" placeholder="+x (xxx) xxx-xx-xx" %}
{% endblock %}