@font-face
    font-family: 'Gilroy'
    src: local('Gilroy'),url('fonts/Gilroy-Thin.ttf') format('truetype'),url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),url('../fonts/Gilroy-Thin.woff') format('woff')
    font-weight: 100
    font-style: normal

/* Regular */
@font-face
    font-family: 'Gilroy'
    src: local('Gilroy'),url('../fonts/Gilroy-Regular.ttf') format('truetype'),url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/Gilroy-Regular.woff') format('woff')
    font-weight: 400
    font-style: normal

/* Medium */
@font-face
    font-family: 'Gilroy'
    src: local('Gilroy'),url('../fonts/Gilroy-Medium.ttf') format('truetype'),url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),url('../fonts/Gilroy-Medium.woff') format('woff')
    font-weight: 500
    font-style: normal

/* Bold */
@font-face
    font-family: 'Gilroy'
    src: local('Gilroy'),url('../fonts/Gilroy-Bold.ttf') format('truetype'),url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/Gilroy-Bold.woff') format('woff')
    font-weight: 700
    font-style: normal

/* BoldItalic */
@font-face
    font-family: 'Gilroy'
    src: local('Gilroy'),url('../fonts/Gilroy-BoldItalic.ttf') format('truetype'),url('../fonts/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),url('../fonts/Gilroy-BoldItalic.woff') format('woff')
    font-weight: 700
    font-style: italic

/* MediumItalic */
@font-face
    font-family: 'Gilroy'
    src: local('Gilroy'),url('../fonts/Gilroy-MediumItalic.ttf') format('truetype'),url('../fonts/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),url('../fonts/Gilroy-MediumItalic.woff') format('woff')
    font-weight: 500
    font-style: italic

/* RegularItalic */
@font-face
    font-family: 'Gilroy'
    src: local('Gilroy'),url('../fonts/Gilroy-RegularItalic.ttf') format('truetype'),url('../fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),url('../fonts/Gilroy-RegularItalic.woff') format('woff')
    font-weight: 400
    font-style: italic

@mixin large_text
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 22px
    color: $Neutral-900

@mixin Button_Bold
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 20px
    color: $White

@mixin h1_Bold
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 700
    font-size: 32px
    line-height: 59.42px
    color: $Neutral-900

@mixin Text_Small_Regular
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: $Neutral-900

@mixin Text_Small_Medium
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 20px
    color: $Neutral-500

@mixin Text_Large_Medium
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 22px
    color: $White

@mixin text-large-regular
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 22px
    color: $Neutral-900

@mixin Link_Link_Small
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 18px
    color: $Green-Default
    &:hover
        color: $Green-Hover
    &:active
        color: $Green-Active

@mixin h4-bold
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 22px
    color: $Neutral-900

@mixin h4_Medium
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 22px
    color: $Neutral-900

@mixin h3_Medium
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 22px
    color: $Neutral-900

@mixin h2-bold
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 700
    font-size: 24px
    line-height: 30px
    color: $Neutral-900

@mixin Link_Link_Large
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 20px
    color: $Green-Default
    &:hover
        color: $Green-Hover
    &:active
        color: $Green-Active

@mixin h3_Bold
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 700
    font-size: 18px
    line-height: 22px
    color: $Neutral-900

@mixin h2_Medium
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 24px
    line-height: 29px
    text-align: center
    color: $Neutral-500

@mixin file-link
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 20px
    color: $Neutral-500
    text-decoration: underline
    &:hover
        color: $Neutral-900
    &:active
        color: $Neutral-350

@mixin link-red
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 20px
    color: $Red-Default
    &:hover
        color: $Red-Hover
    &:active
        color: $Red-Active

    