// @use "/_color" as *

header
    display: flex
    flex-direction: column
    align-items: flex-start

.header_top
    display: flex
    align-items: center
    justify-content: center
    height: 46px
    background-color: $White

.container_header
    display: flex
    justify-content: space-between
    width: 1280px
    margin: 0 80px
    align-items: center

.location_layout
    display: flex
    p 
        width: 51px
        height: 18px
        @include Link_Link_Small
        color: $Green-Default
        margin-left: 10px

.navigation 
    display: flex
    gap: 32px
    justify-content: flex-end
    a 
        @include Text_Small_Medium
    a:hover
        color: $Neutral-900

.header_bottom 
    display: flex
    align-items: center
    justify-content: center
    gap: 32px
    height: 100px
    background: #20B84B

.logo_and_search_form
    display: flex
    align-items: center
    img
        display: flex
        flex-direction: column
        align-items: flex-start
        width: 246px
        height: 44px



.navbar 
    display: flex
    a 
        @include large_text
        color: $White

.navbar_item 
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    flex-wrap: wrap
    @include Text_Large_Medium
    &:first-child
        padding-left: 25px
    svg
        fill: $White
        width: 24px
        margin-bottom: 6px
    &:hover svg
        color: $Neutral-150
        fill: $Neutral-150

.img_mobile
    display: none

@media (max-width: 1280px)
    .header_top
        display: none

    .navbar_item
        display: none

@media (max-width: 768px)
    .header_top
        display: none

    .header_bottom
        height: 60px

    .search-form
        display: none

    .navbar
        display: none

    .logo_and_search_form img
        width: 155px
        height: 28px

    .img_mobile
        display: flex
        width: 10%
        justify-content: space-between

    .img_one
        display: block
        width: 18px

    .img_two
        width: 22px

    .container_header
        display: flex
        justify-content: space-between
        width: 768px
        margin: 0 16px