@use "/_color" as *

header
    display: flex
    flex-direction: column
    align-items: flex-start
    height: 146px

.header_top
    display: flex
    align-items: center
    justify-content: center
    height: 46px
    background-color: $White

.container_header
    display: flex
    justify-content: space-between
    width: 1280px
    margin: 0 80px

.location_layout
    display: flex
    p 
        width: 51px
        height: 18px
        @include Link_Link_Small
        color: $Green-Default
        margin-left: 10px

.navigation 
    display: flex
    gap: 32px
    justify-content: flex-end
    a 
        @include Text_Small_Medium
    a:hover
        color: $Neutral-900

.header_bottom 
    display: flex
    align-items: center
    justify-content: center
    gap: 32px
    height: 100px
    background: #20B84B

.logo_and_search_form
    display: flex
    align-items: center
    img
        display: flex
        flex-direction: column
        align-items: flex-start
        width: 246px
        height: 44px



.navbar 
    display: flex
    a 
        @include large_text
        color: $White

.navbar_item 
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    flex-wrap: wrap
    @include Text_Large_Medium
    &:first-child
        padding-left: 25px
    svg
        fill: $White
        width: 24px
        margin-bottom: 6px
    &:hover svg
        color: $Neutral-150
        fill: $Neutral-150
    &:hover
        color: $Neutral-150
        fill: $Neutral-150

.search-form
    flex: 1
    position: relative
    // max-width: 563px
    min-width: 360px
    margin: 0 7px 0 32px


#search 
    display: flex
    width: 100%
    height: 48px
    border: 0 solid #D4DCDE
    border-radius: 14px
    cursor: default
    &::placeholder
        @include Text_Large_Medium
        color: $Neutral-350

.search-button
    position: absolute
    top: 5px
    right: 10px
    width: 42px
    height: 42px
    border: none
    cursor: pointer
    background-color: $White
    &::before
        content: url(../img/search.svg)
        display: inline-block
        width: 18px
        height: 18px
        // background: url(../img/search.svg) no-repeat left
        background-color : $White

    
