%search
    height: 54px
    border-radius: 14px
    padding: 0px 40px 0px 20px
    border: 1px solid $Neutral-250
    @include large_text
    outline: none
    box-sizing: border-box  

.search-form
    flex: 1
    position: relative
    min-width: 360px
    margin: 0 7px 0 32px
    &__search 
        @extend %search
        display: flex
        width: 100%
        cursor: default
        &::placeholder
            @include Text_Large_Medium
            color: $Neutral-350
        &:active, &:focus
            border: 1px solid $Green-Default

    &__search-button
        position: absolute
        top: 8px
        right: 6px
        width: 42px
        height: 42px
        border: none
        cursor: pointer
        background-color: transparent
        &::before
            content: url(../img/search.svg)
            display: inline-block
            background-color : $White