{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'components/header.html' %}
<main>
    <div class="flex-main">

        <input type="file">

        <input type="color">

        {% include 'file-loader.html' %}
        <p>--------</p>
        {% include 'file-loader-loaded.html' %}
        <div>
            <div class="box v-card" >
                <div class="v-card__header">
                    <div class="v-card__header-vacancy-name">Тракторист</div>
                    <div class="v-card__header-dot"></div>
                    <div class="v-card__header-company-name">Красный хуторок</div>
                    <div class="v-card__header-create-date">сегодня</div>
                </div>
                    
                    <div class="v-card__salary">От 50 000 ₽</div>
                    <button class="btn-secondary-medium">Подробнее</button>
                </div>
        </div>
        <div>
            <input type="text" class="input" placeholder="place">
            <input type="text" class="input" placeholder="place">
            <input type="text" class="input input-error" placeholder="place">
        </div>
        <div style="background-color: white">
            <button class="btn-primary-large">Button</button>
            <button class="btn-secondary-large">Button</button>
            <button class="btn-primary-medium">Button</button>
            <button class="btn-secondary-medium">Button</button>
            <button class="btn-primary-small">Button</button>
            <button class="btn-secondary-small">Button</button>
            <button class="btn-primary-large-is-danger">Button</button>
            <button class="btn-secondary-large-is-danger">Button</button>
            <button class="btn-primary-medium-is-danger">Button</button>
            <button class="btn-secondary-medium-is-danger">Button</button>
            <button class="btn-primary-small-is-danger">Button</button>
            <button class="btn-secondary-small-is-danger">Button</button>
        </div>

        <button class="btn-primary-large-is-danger"
        hx-get="#"
        hx-target="#target-1"
        hx-swap="innerHTML"
        >
        click</button>
        <div id="target-1"></div>

        <div class="custom-select" style="width:200px;">
            <select>
              <option value="0">Select car:</option>
              <option value="1">Audi</option>
              <option value="2">BMW</option>
              <option value="3">Citroen</option>
              <option value="4">Ford</option>
              <option value="5">Honda</option>
              <option value="6">Jaguar</option>
              <option value="7">Land Rover</option>
              <option value="8">Mercedes</option>
              <option value="9">Mini</option>
              <option value="10">Nissan</option>
              <option value="11">Toyota</option>
              <option value="12">Volvo</option>
            </select>
        </div>


    </div>
</main>
{% include 'components/footer.html' %}
{% endblock %}