{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% load thumbnail %}

{% block title %}Чат{% endblock %}

{% block content %}
{% include 'components/header.html' %}
<main>
    <div class="container-grid-chat">
        <div class="box chat-box">
            <div class="title-and-search">
                <p class="chat-title">Сообщения</p>
                {{ request.user.email }}
                <form class="search-form-chat">
                    <input class="search-form__search" type="search" id="search-chat" name="search-chat" placeholder="Поиск">
                    <button class="search-form__search-button" type="submit"></button>
                </form>
            </div>
            <!--     from github       -->
            <!-- <div class="">
                <img src="{% static 'img/avatar-user-empty.svg' %}" alt="" class="">
                <span class="ml-2">{{request.user.email}}</span>
            </div> -->
            <!-- <div class="">
                <img src="{% static 'img/avatar-user-empty.svg' %}" alt="" class="">
                <span class="ml-2">{{user.username}}</span>
                {% if user.userprofilemodel.online_status %}
                <small id="{{user.email}}_small">Online</small>
                {% else %}
                <small id="{{user.email}}_small">Offline</small>
                {% endif %}
            </div> -->
            {% for user in users %}
            <div>
                <img src="{% static 'img/avatar-user-empty.svg' %}" alt="" class="">
                {% if user.userprofilemodel.online_status %}
                <a style="color: green" id="{{ user.email }}_status" href="{% url 'chat-page' email=user.email %}">
                    {% if user.role %}
                    {{user.company.company_name}}
                    {% else %}
                    {{user.profile.surname}} {{user.profile.name}} {{user.profile.patronymic}}
                    {% endif %}
                </a>
                {% else %}
                <a style="color: grey" id="{{ user.email }}_status" href="{% url 'chat-page' email=user.email %}">
                    {% if user.role %}
                    {{user.company.company_name}}
                    {% else %}
                    {{user.profile.surname}} {{user.profile.name}} {{user.profile.patronymic}}
                    {% endif %}
                </a>
                {% endif %}
            </div>
            {% endfor %}
            <!--     from github       -->
        </div>
        <div class="box message-box">
            <!--     from github       -->
            {% for message in messages %}
            {% if message.sender == request.user.email %}
                <p class="">{{message.message}}</p>
                <p><small class="">{{message.timestamp|time:'H:i'}}</small></p>
            {% else %}
                <p class="">{{message.message}}</p>
                <p><small class="">{{message.timestamp|time:'H:i'}}</small></p>
            {% endif %}
            {% endfor %}
            <div id="chat-body"></div>
            <div class="">
                <div class="">
                    <input type="text" class="form-control" id="message_input" placeholder="Write message...">
                </div>
                <div class="">
                    <div class="">
                        <button class="btn-primary-small" id="chat-message-submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        {{userobj.id|json_script:"json-username"}}
        {{userobj.email|json_script:"json-username-receiver"}}
        {{request.user.email|json_script:"json-message-username"}}
        {{room_obj|json_script:"json-room"}}
        <!--     from github       -->
    </div>
</main>
{% include 'components/footer.html' %}
{% endblock %}