{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% load thumbnail %}

{% block title %}Чат{% endblock %}

{% block content %}
{% include 'components/header.html' %}
<main>
    <div class="container-grid-chat">
        <div class="box chat-box">
            <div class="title-and-search">
                <p class="chat-title">Сообщения</p>
                {{ request.user.email }}
                <form class="search-form-chat">
                    <input class="search-form__search" type="search" id="search-chat" name="search-chat" placeholder="Поиск">
                    <button class="search-form__search-button" type="submit"></button>
                </form>
            </div>
            <div class="chat-rooms" id="chat-rooms-id">
                {% for u in users %}
                    {% include 'components/chat-member-card.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="box chat-message-container message-box">
            <div class="chat-message-promt">
                <img class="chat-message-img" src="{% static 'img/chat-promt.svg' %}" alt="message-promt">
                <p class="chat-title-promt">Выберите чат, чтобы начать переписку</p>
            </div>
        </div>
    </div>
</main>
{% include 'components/footer.html' %}
{% endblock %}