<form>
    <div class="form_signup_one">
        <div class="title">
            <p>Создание аккаунта</p>
        </div>
        <div class="form_block_number_inputs">
            <input class="input_item" type="email" id="email" name="email" placeholder="Электронная почта">
        </div>
        <div class="form_block_number_inputs">
            <p>Придумайте пароль<br>(минимум 6 латинских букв и 2 цифры)</p>
            <input class="input_item_eye" type="password" id="password" name="password" placeholder="Пароль">
            <input class="input_item" type="password" id="password" name="password" placeholder="Повторите пароль">
        </div>
            <p class="form_signup_subtext">Для чего вы создаете аккаунт?</p>
        <div class="sex">
        <div class="button">
            <input type="radio" name="check-substitution-2" checked/>
            <label class="btn btn-default">Ищу работу</label>
          </div>
          <div class="button">
            <input type="radio" name="check-substitution-2" />
            <label class="btn btn-default">Ищу сотрудников</label>
          </div>
        </div>
        <div class="buttons">
            <button class="button_1">Завершить регистрацию</button>
            <button class="button_2">Войти</button>
        </div>
    </div>
</form>