{% load static %}
{% load widget_tweaks %}
<div class="box form-block">
    <h2 class="title-1">Создание аккаунта</h2>
    <form action="">
        <div class="inputs">
            <div class="field">
                <label for="">На данную почту придёт письмо с кодом подтверждения</label>
                <input class="input" type="email" id="email" name="email" placeholder="Электронная почта">
                <span class="error-message"></span>
            </div>
        </div>
        <div class="buttons">
            <button class="btn-primary-large" formaction="">Получить код</button>
            <button class="btn-secondary-large" formaction="">Назад</button>
        </div>
    </form>
</div>