<form>
    <div class="form_block_password">
        <div class="form_block_number_title">
            <p>Восстановление пароля</p>
        </div>
        <div class="form_block_number_inputs">
            <p>Придумайте пароль<br>(минимум 6 латинских букв и 2 цифры)</p>
            <input class="input_item_eye" type="password" id="password" name="password" placeholder="Пароль">
            <input class="input_item" type="password" id="password" name="password" placeholder="Повторите пароль">
        </div>
        <div class="form_block_password_buttons">
            <button class="button_1" formaction="">Продолжить</button>
            <button class="button_2" formaction="">Назад</button>
        </div>
    </div>
</form>