{% load static %}
<form method="POST">
    {% csrf_token %}

    <div class="form_signup">
        <div class="title">
            <p>Вход в аккаунт</p>
        </div>
        <div class="inputs">
            {{ form.username }}
            {{ form.password }}
           <input class="input_item" type="email" id="email" name="email" placeholder="Электронная почта">
           <input class="input_item_eye" type="password" id="password" name="password" placeholder="Пароль">
            <a href="">Не помню пароль</a>
        </div>
        <div class="buttons">
            <button class="button_1" type="submit">Войти</button>
            <a class="button_2" href="{% url 'signup' %}">Создать аккаунт</a>
            <p>Нажимая «Войти», вы подтверждаете, что ознакомлены, полностью согласны и принимаете условия  <a href="/" style="color: #20B84B"> «Соглашения об оказании услуг по содействию в трудоустройстве»</a></a></p>
        </div>
        <div class="separation">
            <div class="rectangle"></div>
            <p>или</p>
            <div class="rectangle"></div>
        </div>
        <div class="other_ways">
            <p>Войти с помощью</p>
        </div>
        <div class="logos">
            <a href=""><img src="{% static 'img/google.svg' %}"></a>
            <a href=""><img src="{% static 'img/vk.svg' %}"></a>
        </div>
    </div>
</form>