{% load static %}
{% load widget_tweaks %}
<div class="box form-block">
    <h2 class="title-1">Создание аккаунта</h2>
    <form action="">
        <div class="inputs">
            <div class="field">
                <label>Для чего вы создаете аккаунт?</label>
                <div class="radio-select">
                    <div class="radio">
                        <input type="radio" name="role" checked />
                        <label class="radio-label">Ищу работу</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="role" />
                        <label class="radio-label">Ищу сотрудников</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            
            <button class="btn-primary-large">Продолжить</button>
            <a class="btn-secondary-large">Войти в аккаунт</a>
        </div>
    </form>
</div>