<link rel="stylesheet" href="/css/style.css">
<form>
    <div class="form_register_company">
        <div class="form_block_number_title">
            <p>Создание аккаунта</p>
        </div>
        <div class="form_block_number_inputs">
            <p>Введите название компании</p>
            <input class="input_item" type="text" id="text" name="text" placeholder="Название компании">
            <input class="input_item" type="number" id="number" name="number" placeholder="000000000000">
        </div>
        <div class="form_register_company_buttons">
            <button class="button_1" formaction="/">Завершить регистрацию</button>
            <button class="button_2" formaction="/">Назад</button>
            <p>Нажимая «Завершить регистрацию», вы подтверждаете, что ознакомлены, полностью согласны и принимаете условия<a href="/" style="color: #20B84B">«Соглашения об оказании услуг по содействию в трудоустройстве»</a></p>
        </div>
    </div>
</form>