{% load static %}
{% load widget_tweaks %}
<div class="box form-block">
    <h2 class="title-1 activate-form__title">Активируйте аккаунт</h2>
    <div class="activate-form">
        <p class="activate-form__subtittle-1">В течение 2 минут на вашу почту придёт письмо с ссылкой для завершения регистрации.</p>
        <p class="activate-form__subtittle-2">Если не пришло, нажмите кнопку ниже</p>
        <img class="activate-form__image" src="{% static 'img/activate-account.svg' %}">
    </div>
    <form action="">
        <div class="buttons">
            <button class="btn-primary-large btn-fluid">Отправить повторно</button>
        </div>
    </form>
</div>