<link rel="stylesheet" href="/css/style.css">
<form>
    <div class="form_register_email">
        <div class="form_block_number_title">
            <p>Восстановление пароля</p>
        </div>
        <div class="form_block_number_inputs">
            <p>На данную почту придёт письмо с кодом восстановления</p>
            <input class="input_item" type="email" id="email" name="email" placeholder="Электронная почта">
        </div>
        <div class="buttons">
            <button class="button_1" formaction="/">Получить код</button>
            <button class="button_2" formaction="/">Назад</button>
        </div>
    </div>
</form>