{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<form>
    <div class="form_signup">
        <div class="frame_76">
        <div class="form_signup_7_title">Активируйте аккаунт</div>
        <div class="frame_77">
        <p>В течение 2 минут на вашу почту придёт письмо с ссылкой для завершения регистрации.</p>
        <p>Если не пришло, нажмите кнопку ниже</p>
    </div>
    </div>
        <img src="/img/signup_iIllustration.svg">
        <div class="form">
            <button class="button_1" formaction="#">Получить код</button>
        </div>
        </div>
</form>