{% load static %}
{% load widget_tweaks %}
<div class="box form-block">
    <h2 class="title-1">Создание аккаунта</h2>
    <form action="">
        <div class="inputs">
            <div class="field">
                <!-- FIX ME -->
                <label for="">Придумайте пароль<br>(минимум 6 латинских букв и 2 цифры)</label>
                <input class="input-pass" type="password" id="" name="" placeholder="Пароль">
                <span class="error-message"></span>
            </div>
            <div class="field">
                <!-- FIX ME -->
                <input class="input-pass" type="password" id="" name="" placeholder="Повторите пароль">
                <span class="error-message"></span>
            </div>
        </div>
        <div class="buttons">
            <button class="btn-primary-large">Продолжить</button>
            <a href="#" class="btn-secondary-large">Назад</a>
        </div>
    </form>
</div>