<link rel="stylesheet" href="/css/style.css">
{}
<form>
    <div class="form_signup">
        <div class="title">
            <p>Создание аккаунта</p>
        </div>
            <p class="form_signup_subtext">Для чего вы создаете аккаунт?</p>
        <div class="sex">
        <div class="button">
            <input type="radio" name="check-substitution-2" checked/>
            <label class="btn btn-default">Ищу работу</label>
          </div>
          <div class="button">
            <input type="radio" name="check-substitution-2" />
            <label class="btn btn-default">Ищу сотрудников</label>
          </div>
        </div>
        <div class="buttons">
            <button class="button_1">Продолжить</button>
            <button class="button_2">Войти в аккаунт</button>
        </div>
    </div>
</form>