{% load static %}
<form>
    <div class="form_signup">
        <div class="form_block_number_title">
            <p>Восстановление пароля</p>
        </div>
        <div class="form_block_number_inputs">
            <p>Введите код из письма</p>
            <input class="input_item" type="number" id="number" name="number" placeholder="4 цифры">
            <a href="">Отправить снова</a>
        </div>
        <div class="buttons">
            <button class="button_1" formaction="">Продолжить</button>
            <button class="button_2" formaction="">Назад</button>
        </div>
    </div>
</form>