<div class="content">
    <div class="main_form">
        <div class="prof_logo">
            <img src="images/avatar.svg" alt="">
            <div class="prof_logo_profile">
                <h2>Иванов Иван Иванович</h2>
                <h3>Разработчик - GrassJob</h3>
                <p class="change">19 лет, мужчина</p>
                <p class="change">Москва, готов к переезду</p>
            </div>
            <div class="prof_logo_salary">
                <h4>Желаемая з/п — 60 000 ₽</h4>
                <a href=""><button type="button" class="btn_green">Написать</button></a>
            </div>
        </div>
        <div class="line">
            <hr>
        </div>
        <div class="about_me">
            <h2>О себе</h2>
            <p>Люблю работать и делать хорошо работу а ещё работать, люблю работать и делать хорошо работу а ещё работать, люблю работать и делать хорошо работу а ещё работать, люблю работать и делать хорошо работу а ещё работать</p>
        </div>
        <div class="education">
            <h2>Образование</h2>
            <div class="education_shadow">
                <div class="main_flex_two">
                    <div>
                        <h4>Московский государственный университет</h4>
                        <p>Информатика и вычислительная техника</p>
                    </div>
                    <div>
                        <h5 class="main_subtext">Высшее образование(неоконченное)</h5>
                        <p class="main_form_text">Бакалавриат, 2020 - 2024 год</p>
                    </div>
                </div>
                <a class="education_file" href="#">Диплом или сертификат</a>
            </div>
        </div>
        <div class="experience">
            <h2>Опыт работы</h2>
            <div class="experience_shadow">
                <div class="main_flex_two">
                    <div>
                        <div class="experience_left">
                            <h4>GrassJob</h4>
                            <p class="main_form_text">Март 2022 — по настоящее время</p>
                        </div>
                    </div>
                    <div>
                        <div class="experience_right">
                            <h4 class="main_subtext">Frontend - разработчик</h4>
                            <p class="main_form_text">Полная занятость</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="experience_down">
                        <h4 class="main_subtext">Обязанности</h4>
                        <p class="main_form_text">Люблю работать и делать хорошо работу а ещё работать, люблю работать и делать хорошо работу а ещё работать, люблю работать и делать хорошо работу а ещё работать, люблю работать и делать хорошо работу а ещё работать</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="other_block">
        <div  class="contact_form">
            <h2>Контактные данные</h2>
            <h4>Сайт</h4>
            <a href="#" class="change">ivangrass.ru</a>
            <h4>Телефон</h4>
            <p>+7 (988) 333-42-02</p>
            <h4>Email</h4>
            <p>deanna.curtis@example.com</p>
        </div>
        <div class="vacancies_logo_text">Рекомендованные вакансии</div>
        <div  class="vacancies">
            <div>
                <h3>Инженер</h3>
                <h4>GrassJob</h4>
                <h5>42 мин. назад</h5>
            </div>
            <p class="main_form_text">от 60 000 ₽</p>
            <a href=""><button type="button" class="btn_white">Перейти</button></a>
        </div>
        <div class="vacancies">
            <div>
                <h3>Разработчик</h3>
                <h4>GrassJob</h4>
                <h5>Вчера</h5>
            </div>
            <p class="main_form_text">от 60 000 ₽</p>
            <a href=""><button type="button" class="btn_white">Перейти</button></a>
        </div>
        <div  class="vacancies">
            <div>
                <h3>Менеджер</h3>
                <h4>GrassJob</h4>
                <h5>28.11</h5>
            </div>
            <p class="main_form_text">от 60 000 ₽</p>
            <a href=""><button type="button" class="btn_white">Перейти</button></a>
        </div>
    </div>
</div>