{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% load thumbnail %}

{% block title %}Чат{% endblock %}
{% block content %}
{% include 'components/header.html' %}
<main>
    <div class="container-grid-chat">
        <div class="box chat-box">
            <div class="title-and-search">
                <p class="chat-title">Сообщения</p>
                <form class="search-form-chat">
                    <input class="search-form__search" type="search" id="search-chat" name="search-chat" placeholder="Поиск">
                    <button class="search-form__search-button" type="submit"></button>
                </form>
            </div>
            <div class="chat-rooms" id="chat-rooms-id">
                {% for u in users %}
                    {% include 'components/chat-member-card.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="box message-box">
            {% include 'components/chat-member-info.html' %}
            <div class="separation-line-chat"></div>
            <div class="message-area">
                {% for message in messages %}
                    {% if message.sender == request.user.email %}
                        <div class="message-area__my-flex">
                            <div class="message-area__my-text">
                                <p class="message-area__message">{{message.message}}</p>
                                <p class="message-area__time">{{message.timestamp|time:'H:i'}}</p>
                            </div>
                        </div>
                    {% else %}
                    <div class="message-area__other-flex">
                        <div class="message-area__other-text">
                            <p class="message-area__message">{{message.message}}</p>
                            <p class="message-area__time">{{message.timestamp|time:'H:i'}}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                <div id="chat-body"></div>
            </div>
            <div class="separation-line-chat"></div>
            <div class="subhead-chat">
                <input type="text" class="input subhead-chat__input" id="message_input" placeholder="Напишите сообщение...">
                <button class="subhead-chat__btn btn-primary-large" id="chat-message-submit"></button>
            </div>
        </div>
        {{userobj.id|json_script:"json-username"}}
        {{userobj.email|json_script:"json-username-receiver"}}
        {{request.user.email|json_script:"json-message-username"}}
        {{room_obj.room_name|json_script:"json-room"}}
    </div>
</main>
{% include 'components/footer.html' %}
{% endblock %}
{% block scripts %}
<!-- chat -->
<script defer src="{% static 'js/chat.js' %}"></script>
{% endblock %}