@import color
@import fonts
@import header
@import footer
@import reset
@import profile

body
    background-color: $Neutral-50
    margin: auto

a
    text-decoration: none
    color: #1F1F1F

.container
    width: 1440px
    margin: 0 80px

.button_1:hover
    background: #1D9E42

.button_2:hover
    border-color: #1D9E42
    color: #1D9E42

.button_1:active
    background: #4FCB72

.button_2:active
    border-color:#4FCB72
    color:#4FCB72


form 
    text-align: -webkit-center

.form_block 
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    display: flex
    flex-direction: column
    padding: 36px 24px
    gap: 32px
    width: 448px
    height: 668px
    align-items: center
    background: $White

.title 
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 700
    font-size: 32px
    line-height: 40px
    color: $Neutral-900
    margin-top: -20px

.inputs 
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 12px
    width: 400px
    height: 157px

.input_item 
    height: 54px
    border-radius: 15px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 22px
    padding-left: 20px
    border: 1px solid #D4DCDE
    margin-bottom: 10px

.input_item::placeholder
    color: $Neutral-350

.input_item_eye 
    height: 54px
    border-radius: 15px
    background: url(../images/eye.svg) no-repeat left
    background-position: 360px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 22px
    padding-left: 20px
    border: 1px solid #D4DCDE

.input_item_eye::placeholder
    color: $Neutral-350

.inputs a 
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 20px
    color: $Green-Default

.button_1 
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 16px 32px
    gap: 8px
    width: 400px
    height: 54px
    background: $Green-Default
    border-radius: 14px
    margin-bottom: 10px
    cursor: pointer
    margin-top: 25px
    color: $White
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 20px
    border: 1px

.button_2 
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 16px 32px
    gap: 8px
    width: 400px
    height: 54px
    border: 1px solid $Green-Default
    border-radius: 14px
    cursor: pointer
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 20px
    color: $Green-Default
    background: $White

.buttons p 
    width: 400px
    height: 60px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #6A6E70
    text-align: left
  
.separation 
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 0px
    gap: 12px
    width: 400px

.separation
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    display: flex
    align-items: center
    color: $Neutral-500

.separation div 
    width: 176px
    height: 1px
    background: #D4DCDE

.other_ways 
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    text-align: center
    color: $Neutral-900
    width: 400px
    margin: -7px 0 11px 0

.logos 
    display: flex
    justify-content: center
    gap: 30px
    width: 400px
    height: 46px

/* Регистрация */
.form_signup
    display: flex
    flex-direction: column
    align-items: center
    padding: 36px 24px
    gap: 32px
    width: 448px
    height: 370px
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    justify-content: center
    background: $White

.form_signup_subtext
    @include Text_Small_Regular

.form_block_number
    display: flex
    flex-direction: column
    align-items: center
    padding: 36px 24px
    gap: 32px
    width: 448px
    height: 404px
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    background: $White
    justify-content: space-evenly

.form_block_number_title
    font-family: "Gilroy"
    font-style: normal
    font-weight: 700
    font-size: 32px
    line-height: 40px
    color: #1F1F1F
    margin-top: -40px

.form_block_number_inputs
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 12px
    width: 400px
    margin-top: -30px

.form_block_number_inputs p
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: $Neutral-500
    text-align: left

.form_block_number_inputs a
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 20px
    color: $Green-Default

.form_block_password
    display: flex
    flex-direction: column
    align-items: center
    padding: 36px 24px
    gap: 32px
    width: 448px
    height: 456px
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    justify-content: space-evenly
    background: $White

.form_block_password_buttons
    margin-top: -30px

.form_blok_recovery
    display: flex
    flex-direction: column
    align-items: center
    padding: 36px 24px
    gap: 32px
    width: 448px
    height: 404px
    background: #FFFFFF
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    padding-top: 100px

.form_register_company
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 36px 24px
    gap: 32px
    width: 410px
    height: 450px
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    background: #FFFFFF
    padding-top: 50px

.form_register_company_buttons
    width: 400px
    height: 60px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #6A6E70

.form_register_end
    display: flex
    flex-direction: column
    align-items: center
    padding: 36px 24px
    width: 448px
    height: 596px
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    justify-content: space-evenly
    background: $White
    padding: 25px 0 75px 0

.form_register_end_buttons
    width: 400px
    height: 60px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #6A6E70
    margin-top: -30px

.form_register_email
    display: flex
    flex-direction: column
    align-items: center
    padding: 36px 24px
    gap: 32px
    width: 448px
    height: 370px
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    background: $White
    justify-content: center

.subtext 
    margin-top: -50px
    @include large-text

.selector 
    box-sizing: border-box
    display: flex
    flex-direction: row
    align-items: flex-start
    padding: 4px
    gap: 4px
    width: 400px
    height: 54px
    border: 1px solid $Neutral-250
    border-radius: 14px

form_city
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 32px 24px
    gap: 32px
    isolation: isolate
    position: absolute
    width: 848px
    height: 516px
    left: 296px
    top: 128px

.city_title
    width: 800px
    height: 40px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 700
    font-size: 32px
    line-height: 40px
    color: #1F1F1F

.city_input
    display: flex
    flex-direction: row
    align-items: center
    padding: 16px 20px
    width: 800px
    height: 54px
    background: #FFFFF
    border: 1px solid #D4DCDE
    border-radius: 14px

.city_button button
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 16px 32px
    gap: 8px
    width: 280px
    height: 54px
    background: #20B84B
    border-radius: 14px

input 
    width: 100%
    height: 42px
    background: #FFFFFF
    padding-left: 15px
    border: 1px solid #D4DCDE
    border-radius: 14px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px

.btn btn-default
    width: 418px
    height: 54px
    font-style: normal
    font-weight: 700
    font-size: 16px

.sex
    display: flex
    border: 1px solid #D4DCDE
    border-radius: 14px
    width: 392px

.button
    width: 194px
    height: 46px
    border-radius: 10px
    position: relative
    margin: 4px

.button label,
.button input
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding-top: 15px

.button input[type="radio"]
    opacity: 0.011
    z-index: 100
    cursor: pointer

.button input[type="radio"]:checked + label
    background: #E9EDEF
    border-radius: 4px

.button input[type="text"]
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 22px
    color: #1F1F1F

.form_signup_one
    display: flex
    flex-direction: column
    align-items: center
    padding: 36px 24px
    gap: 32px
    width: 448px
    height: 650px
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    justify-content: center
    background: #FFFFFF