// @use "/components/_color" as *
@import 'components/_color'
@import 'components/_fonts'
@import 'components/_header'
@import 'components/_footer'
@import 'components/_reset'
@import 'components/_profile'

.flex-container
    display: flex
    flex-direction: column
    min-height: 100vh

main
    padding-top: 28px
    padding-bottom: 100px
    flex: 1
    background-color: $Neutral-50
    background-image: url(../img/main.png)
    background-repeat: no-repeat

.flex-main
    display: flex
    flex-direction: column
    align-content: center
    align-items: center
    padding-top: 62px

.h1-bold
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 700
    font-size: 32px
    line-height: 40px
    text-align: center
    padding-bottom: 32px

a
    text-decoration: none
    color: #1F1F1F

.container
    width: 1280px
    margin: 0 80px

.button_1:hover
    background: #1D9E42

.button_2:hover
    border-color: #1D9E42
    color: #1D9E42

.button_1:active
    background: #4FCB72

.button_2:active
    border-color:#4FCB72
    color:#4FCB72


form
    text-align: -webkit-center

.form_block
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    display: flex
    flex-direction: column
    gap: 32px
    width: 448px
    height: 668px
    align-items: center
    background: $White

.form_block_number_title
    width: 400px
    height: 80px
    @include h1_Bold

.title
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 700
    font-size: 32px
    line-height: 40px
    color: $Neutral-900
    align-items: flex-start
    width: 400px
    display: flex
    margin-top: 32px

.title_no_margin
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 700
    font-size: 32px
    line-height: 40px
    color: $Neutral-900

.form
    display: flex
    flex-direction: column
    gap: 24px

.inputs
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 12px
    width: 400px
    height: 157px

.input_item
    height: 54px
    border-radius: 15px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 22px
    padding-left: 20px
    border: 1px solid #D4DCDE
    margin-bottom: 10px

.input_item::placeholder
    color: $Neutral-350

.input_item_eye
    height: 54px
    border-radius: 15px
    background: url(../img/eye.svg) no-repeat left
    background-position: 360px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 22px
    padding-left: 20px
    border: 1px solid #D4DCDE

.input_item_eye::placeholder
    color: $Neutral-350

.inputs a
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 20px
    color: $Green-Default

.buttons_index
    width: 496px
    height: 54px
    display: flex
    gap: 16px

.buttons
    flex-direction: column
    width: 400px
    display: flex
    gap: 8px

.button_1
    cursor: pointer
    font-family: "Gilroy"
    font-style: normal
    font-weight: 700
    font-size: 16px
    height: 54px
    border-radius: 14px
    background: $Green-Default
    color: $White
    width: 400px

.button_2
    cursor: pointer
    font-family: "Gilroy"
    font-style: normal
    font-weight: 700
    font-size: 16px
    height: 54px
    border-radius: 14px
    border: 1px solid $Green-Default
    color: $Green-Default
    background: $White
    width: 400px
    display: flex
    align-items: center
    justify-content: center

.buttons p
    width: 400px
    height: 60px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #6A6E70
    text-align: left
    margin-top: 16px

.separation
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 0px
    gap: 12px
    width: 400px

.separation
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    display: flex
    align-items: center
    color: $Neutral-500

.separation div
    width: 176px
    height: 1px
    background: #D4DCDE

.other_ways
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    text-align: center
    color: $Neutral-900
    width: 400px
    margin: -7px 0 11px 0

.logos
    display: flex
    justify-content: center
    gap: 30px
    width: 400px
    height: 46px

/* Регистрация */
.form_signup
    display: flex
    flex-direction: column
    align-items: center
    gap: 32px
    width: 448px
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    background: $White
    padding: 0 0 24px 0

.form_signup_5
    display: flex
    flex-direction: column
    align-items: center
    gap: 32px
    width: 448px
    height: 596px
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    background: $White
    padding: 0 0 24px 0

.form_signup_6
    display: flex
    flex-direction: column
    align-items: center
    gap: 32px
    width: 448px
    height: 560px
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    background: $White

.form_signup_subtext
    @include Text_Small_Regular
    display: flex

.form_block_number_inputs
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 12px

.form_block_number_inputs p
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: $Neutral-500
    text-align: left

.form_block_number_inputs a
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 20px
    color: $Green-Default

.form_block_password
    display: flex
    flex-direction: column
    align-items: center
    gap: 32px
    width: 448px
    height: 456px
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    background: $White

.form_block_password_buttons
    margin-top: -30px

.form_blok_recovery
    display: flex
    flex-direction: column
    align-items: center
    padding: 36px 24px
    gap: 32px
    width: 448px
    height: 404px
    background: #FFFFFF
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px

.form_register_end_buttons
    width: 400px
    height: 60px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #6A6E70
    margin-top: -30px

.subtext
    margin-top: -50px
    @include large-text

.selector
    box-sizing: border-box
    display: flex
    flex-direction: row
    align-items: flex-start
    padding: 4px
    gap: 4px
    width: 400px
    height: 54px
    border: 1px solid $Neutral-250
    border-radius: 14px

form_city
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 32px 24px
    gap: 32px
    isolation: isolate
    position: absolute
    width: 848px
    height: 516px
    left: 296px
    top: 128px

.city_input
    display: flex
    flex-direction: row
    align-items: center
    padding: 16px 20px
    width: 800px
    height: 54px
    background: #FFFFF
    border: 1px solid #D4DCDE
    border-radius: 14px

.city_button button
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 16px 32px
    gap: 8px
    width: 280px
    height: 54px
    background: #20B84B
    border-radius: 14px

input
    width: 100%
    height: 42px
    background: #FFFFFF
    padding-left: 15px
    border: 1px solid #D4DCDE
    border-radius: 14px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px

.btn btn-default
    width: 418px
    height: 54px
    font-style: normal
    font-weight: 700
    font-size: 16px

.sex
    display: flex
    border: 1px solid #D4DCDE
    border-radius: 14px
    width: 392px

.button
    width: 194px
    height: 46px
    border-radius: 10px
    position: relative
    margin: 4px

.button label,
.button input
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding-top: 15px

.button input[type="radio"]
    opacity: 0.011
    z-index: 100
    cursor: pointer

.button input[type="radio"]:checked + label
    background: #E9EDEF
    border-radius: 4px

.button input[type="text"]
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 22px
    color: #1F1F1F

.form_signup_7_title
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 700
    font-size: 32px
    line-height: 40px
    text-align: center
    color: #1F1F1F
    width: 200px
    height: 80px
    margin-top: 32px

.frame_76
    display: flex
    flex-direction: column
    align-items: center
    gap: 16px
    width: 400px

.frame_77
    display: flex
    flex-direction: column
    gap: 8px

.frame_77 p
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 22px
    text-align: center
    color: $Neutral-50
    margin: auto

a
    text-decoration: none
    color: #1F1F1F

.container
    width: 1280px
    margin: 0 80px

.button_1:hover
    background: #1D9E42

.button_2:hover
    border-color: #1D9E42
    color: #1D9E42

.button_1:active
    background: #4FCB72

.button_2:active
    border-color:#4FCB72
    color:#4FCB72

form
    text-align: -webkit-center

.title
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 700
    font-size: 32px
    line-height: 40px
    color: $Neutral-900
    align-items: flex-start
    width: 400px
    display: flex
    margin-top: 32px

.title_no_margin
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 700
    font-size: 32px
    line-height: 40px
    color: $Neutral-900

.form
    display: flex
    flex-direction: column
    gap: 24px

.inputs
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 12px
    width: 400px
    height: 157px

.input_item
    height: 54px
    border-radius: 15px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 22px
    padding-left: 20px
    border: 1px solid #D4DCDE
    margin-bottom: 10px

.input_item::placeholder
    color: $Neutral-350

.input_item_eye
    height: 54px
    border-radius: 15px
    background: url(../img/eye.svg) no-repeat left
    background-position: 360px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 22px
    padding-left: 20px
    border: 1px solid #D4DCDE

.input_item_eye::placeholder
    color: $Neutral-350

    
.inputs a
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 20px
    color: $Green-Default

.buttons
    flex-direction: column
    width: 400px
    display: flex
    gap: 8px

.button_1
    cursor: pointer
    font-family: "Gilroy"
    font-style: normal
    font-weight: 700
    font-size: 16px
    height: 54px
    border-radius: 14px
    background: $Green-Default
    color: $White
    width: 400px

.button_2
    cursor: pointer
    font-family: "Gilroy"
    font-style: normal
    font-weight: 700
    font-size: 16px
    height: 54px
    border-radius: 14px
    border: 1px solid $Green-Default
    color: $Green-Default
    background: $White
    width: 400px

.buttons p
    width: 400px
    height: 60px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #6A6E70
    text-align: left
    margin-top: 16px

.separation
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 0px
    gap: 12px
    width: 400px

.separation
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    display: flex
    align-items: center
    color: $Neutral-500

.separation div
    width: 176px
    height: 1px
    background: #D4DCDE

.other_ways
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    text-align: center
    color: $Neutral-900
    width: 400px
    margin: -7px 0 11px 0

.logos
    display: flex
    justify-content: center
    gap: 30px
    width: 400px
    height: 46px

.form_block_number
    display: flex
    flex-direction: column
    align-items: center
    gap: 32px
    width: 448px
    height: 404px
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    background: $White

.form_block_number_inputs
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 12px

.form_block_number_inputs p
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: $Neutral-500
    text-align: left

.form_block_number_inputs a
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 20px
    color: $Green-Default

.form_block_password
    display: flex
    flex-direction: column
    align-items: center
    gap: 32px
    width: 448px
    height: 456px
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    background: $White

.form_block_password_buttons
    margin-top: -30px

.form_blok_recovery
    display: flex
    flex-direction: column
    align-items: center
    padding: 36px 24px
    gap: 32px
    width: 448px
    height: 404px
    background: #FFFFFF
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px

.form_register_company
    display: flex
    flex-direction: column
    align-items: center
    gap: 32px
    width: 448px
    height: 560px
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    background: #FFFFFF

.form_block_number
    display: flex
    flex-direction: column
    gap: 32px
    width: 448px
    background: #FFFFFF
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    align-items: center

.form_register_end_buttons
    width: 400px
    height: 60px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #6A6E70
    margin-top: -30px

.subtext
    margin-top: -50px
    @include large-text

.selector
    box-sizing: border-box
    display: flex
    flex-direction: row
    align-items: flex-start
    padding: 4px
    gap: 4px
    width: 400px
    height: 54px
    border: 1px solid $Neutral-250
    border-radius: 14px

form_city
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 32px 24px
    gap: 32px
    isolation: isolate
    position: absolute
    width: 848px
    height: 516px
    left: 296px
    top: 128px

.city_input
    display: flex
    flex-direction: row
    align-items: center
    padding: 16px 20px
    width: 800px
    height: 54px
    background: #FFFFF
    border: 1px solid #D4DCDE
    border-radius: 14px

.city_button button
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 16px 32px
    gap: 8px
    width: 280px
    height: 54px
    background: #20B84B
    border-radius: 14px

input
    width: 100%
    height: 42px
    background: #FFFFFF
    padding-left: 15px
    border: 1px solid #D4DCDE
    border-radius: 14px
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px

.btn btn-default
    width: 418px
    height: 54px
    font-style: normal
    font-weight: 700
    font-size: 16px

.sex
    display: flex
    border: 1px solid #D4DCDE
    border-radius: 14px
    width: 392px

.button
    width: 194px
    height: 46px
    border-radius: 10px
    position: relative
    margin: 4px

.button label,
.button input
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding-top: 15px

.button input[type="radio"]
    opacity: 0.011
    z-index: 100
    cursor: pointer

.button input[type="radio"]:checked + label
    background: #E9EDEF
    border-radius: 4px

.button input[type="text"]
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 22px
    color: #1F1F1F

.form_signup_one
    display: flex
    flex-direction: column
    align-items: center
    padding: 36px 24px
    gap: 32px
    width: 448px
    height: 650px
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    justify-content: center
    background: #FFFFFF

.form_signup_7_title
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 700
    font-size: 32px
    line-height: 40px
    text-align: center
    color: #1F1F1F
    width: 200px
    height: 80px
    margin-top: 32px

.frame_76
    display: flex
    flex-direction: column
    align-items: center
    gap: 16px
    width: 400px

.frame_77
    display: flex
    flex-direction: column
    gap: 8px

.frame_77 p
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #1F1F1F

.main
    height: 393px
    display: flex
    justify-content: center
    margin: 0 0 250px -20px

.main_text
    display: flex
    flex-direction: column
    align-items: center
    gap: 40px
    width: 720px
    height: 294px

.header_and_subheader
    display: flex
    flex-direction: column
    align-items: center
    padding: 0px
    gap: 24px
    width: 720px
    height: 200px
    h1
        width: 720px
        height: 118px
        font-family: 'Gilroy'
        font-style: normal
        font-weight: 700
        font-size: 48px
        line-height: 59px
        text-align: center
        color: #000000
    h2
        @include h2_Medium

.buttons_index
    display: flex
    flex-direction: row
    align-items: flex-start
    gap: 16px
    width: 496px
    height: 54px

.main_bloks
    display: flex
    justify-content: center
    margin-top: 125px

.main_bloks_right
    margin: -60px -35px 0 0

.main_right_blok_1
    display: flex
    gap: 24px
    width: 252px
    height: 167px
    background: #FFFFFF
    box-shadow: 0px 5px 40px rgba(32, 184, 75, 0.2)
    border-radius: 20px
    transform: rotate(9.96deg)
    justify-content: space-around

.main_right_blok_2
    display: flex
    gap: 24px
    width: 252px
    height: 167px
    background: #FFFFFF
    box-shadow: 0px 5px 40px rgba(32, 184, 75, 0.2)
    border-radius: 20px
    transform: rotate(-10.81deg)
    justify-content: space-around

.main_right_blok_3
    display: flex
    gap: 24px
    width: 252px
    height: 167px
    background: #FFFFFF
    box-shadow: 0px 5px 40px rgba(32, 184, 75, 0.2)
    border-radius: 20px
    transform: rotate(-2.39deg)
    justify-content: space-around

.main_bloks_left
    margin: -60px 0 0 -15px

.main_left_blok_1
    display: flex
    gap: 24px
    width: 252px
    height: 167px
    background: #FFFFFF
    box-shadow: 0px 5px 40px rgba(32, 184, 75, 0.2)
    border-radius: 20px
    transform: rotate(9.96deg)
    justify-content: space-around

.main_left_blok_2
    display: flex
    gap: 24px
    width: 252px
    height: 167px
    background: #FFFFFF
    box-shadow: 0px 5px 40px rgba(32, 184, 75, 0.2)
    border-radius: 20px
    transform: rotate(-0.46deg)
    justify-content: space-around

.main_left_blok_3
    display: flex
    gap: 24px
    width: 243px
    height: 167px
    background: #FFFFFF
    box-shadow: 0px 5px 40px rgba(32, 184, 75, 0.2)
    border-radius: 20px
    transform: rotate(5.51deg)
    justify-content: space-around

.main_header_blok
    display: flex
    flex-direction: column
    gap: 8px
    justify-content: space-evenly
    button
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        padding: 16px 32px
        gap: 8px
        width: 195px
        height: 42px
        border: 1px solid #20B84B
        border-radius: 14px

.position_and_company
    display: flex
    gap: 8px
    flex-direction: column
    h4
        @include h4_Medium

.position_and_company_text
    display: flex
    flex-direction: row
    gap: 8px
    align-items: center
    h3
        @include h3_Bold
    h4
        @include h4_Medium

.content_index
    display: flex
    flex-direction: column
    align-items: flex-start
    align-items: center
    gap: 80px

.categories
    display: flex
    flex-direction: row
    align-items: flex-start
    gap: 16px
    margin-bottom: 80px

.internships
    display: flex
    flex-direction: column
    align-items: center

.picture
    display: flex
    flex-direction: column
    align-items: flex-start
    background: #D4DCDE
    border-radius: 20px
    margin: -64px 0px
    img
        width: 308px
        height: 308px
        border-radius: 20px

.text
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 24px
    gap: 12px
    background: #FFFFFF
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    width: 238px
    h2
        @include h2_Bold
        text-align: center
    h3
        @include h3_Medium
        color: #6A6E70
        text-align: center

.news_vacancies
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 32px
    margin-bottom: 80px

.title_index
    display: flex
    margin: 0
    justify-content: space-between
    width: 100%
    align-items: baseline
    h1
        @include h1_Bold
    a
        @include Link_Link_Large

.vacancies_blok
    display: flex
    flex-direction: row
    align-items: flex-start
    gap: 16px

.vacancy_card
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 24px
    gap: 20px
    background: #FFFFFF
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    width: 368px
    p
        @include Text_Large_Medium
        color: #6A6E70

.head_layout_top
    display: flex
    flex-direction: row
    align-items: center
    gap: 20px
    width: 100%
    img
        width: 60px
        height: 60px

.title_blok
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 8px
    width: 100%
    h2
        @include h2_Bold

.head_layout_down
    display: flex
    gap: 8px
    width: 100%
    justify-content: space-between
    h3
        @include h3_Medium

.companies
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 32px
    margin-bottom: 80px

.companies_blok
    display: flex
    flex-direction: row
    align-items: flex-start
    gap: 16px

.company_card
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 24px
    gap: 20px
    background: #FFFFFF
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    p
        @include Text_Large_Medium
        color: #6A6E70

.companies_title
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 8px

.applicants
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 32px
    margin-bottom: 80px

.candidates_blok
    display: flex
    flex-direction: row
    align-items: flex-start
    gap: 16px

.candidate_card
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 24px
    gap: 20px
    background: #FFFFFF
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    p
        @include Text_Large_Medium
        color: #6A6E70

.news
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 32px

.news_cards
    display: flex
    flex-direction: row
    align-items: flex-start
    gap: 16px

.new_card
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 24px
    gap: 20px
    background: #FFFFFF
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08)
    border-radius: 20px
    img
        width: 368px
        height: 308px
        border-radius: 14px

.news_title
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 12px
    h2
        @include h2_Bold
    h3
        @include h3_Medium
        color: #6A6E70

.caption
    display: flex
    gap: 8px
    width: 100%
    justify-content: space-between
    h4
        @include h4_Medium

.views
    display: flex
    gap: 8px
    img
        width: 22px
        height: 22px


@media (max-width: 360px)
    .form_signup
        width: 328px

    .form_signup_6
        width: 328px

    .title
        display: flex
        margin-top: 32px
        font-family: 'Gilroy'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 30px
        width: 100%
        margin-left: 32px

    .form
        width: 296px

    .inputs
        width: 100%

    .input_item
        width: 296px

    .input_item_eye
        width: 296px

    .buttons
        width: 100%
        p
            width: 296px

    .button_1
        width: 296px

    .button_2
        width: 296px

    .separation
        width: 100%
        margin-top: 36px

    .other_ways
        width: 100%

    .logos
        width: 100%

    .sex
        width: 296px

    .search-form
        display: none