{% load static %}
<footer class="footer-desktop">
    <div class="container">
        <div class="list">
            <div class="list_table">
                <div class="list_1">
                    <a href="#" class="list_dark">Партнёры</a>
                    <a href="{% url 'coming' %}" class="list_1_a">МСХА Тимирязева</a>
                    <a href="{% url 'coming' %}" class="list_1_a">Фонд содействия<br>инновациям</a>
                </div>
            </div>
            <div class="list_table">
                <div class="list_2">
                    <a href="{% url 'coming' %}">Работодатели</a>
                    <a href="{% url 'coming' %}">Вузы</a>
                    <a href="{% url 'coming' %}">Статьи</a>
                    <a href="{% url 'coming' %}">О нас</a>
                </div>
            </div>
            <div class="list_table">
                <div class="list_3">
                    <a href="{% url 'coming' %}">Сообщения</a>
                    <a href="{% url 'coming' %}">Вакансии</a>
                    <a href="{% url 'coming' %}">Аналитика</a>
                    <a href="{% url 'coming' %}">Профиль</a>
                </div>
            </div>
            <div class="plus">
                <div class="list_table">
                    <a href="{% url 'coming' %}" class="list_dark">Контактные данные</a>
                    <a href="{% url 'coming' %}" class="list_1_a">example@gmail.com</a>
                    <a href="#" class="list_1_a">+7 (988) 333-42-02</a>
                </div>
                <div class="list_table">
                    <a href="{% url 'coming' %}" class="list_1_a">Группа Вконтакте</a>
                    <a href="{% url 'coming' %}" class="list_1_a">Техническая поддержка</a>
                </div>
            </div>
            <div class="footer_logo">
                <span>GrassJob © 2023</span>
            </div>
        </div>
    </div>
</footer>