{% load static %}
<footer>
    <div class="container">
        <dl class="list_1">
            <dd>Партнёры</dd>
            <dd>МСХА Тимирязева</dd>
            <dd>Фонд содействия инновациям</dd>
        </dl>
        <dl class="list_2">
            <dd>Работодатели</dd>
            <dd>Вузы</dd>
            <dd>Статьи</dd>
            <dd>О нас</dd>
        </dl>
        <dl class="list_3">
            <dd>Сообщения</dd>
            <dd>Вакансии</dd>
            <dd>Аналитика</dd>
            <dd>Профиль</dd>
        </dl>
        <dl class="list_4">
            <dd>Контактные данные</dd>
            <dd>example@gmail.com</dd>
            <dd>+7 (988) 333-42-02</dd>
        </dl>
        <dl class="list_5">
            <dd>Группа Вконтакте</dd>
            <dd>Техническая поддержка</dd>
        </dl>
        <div class="footer_logo">
            <p>GrassJob © 2023</p>
        </div>
    </div>
</footer>