{% load static %}
<footer class="footer-desktop">
    <div class="container">
        <div class="list">
            <div class="list_table">
                <div class="list_1">
                    <a href="#" class="list_dark">Партнёры</a>
                    <a href="#" class="list_1_a">МСХА Тимирязева</a>
                    <a href="#" class="list_1_a">Фонд содействия<br>инновациям</a>
                </div>
            </div>
            <div class="list_table">
                <div class="list_2">
                    <a href="#">Работодатели</a>
                    <a href="#">Вузы</a>
                    <a href="#">Статьи</a>
                    <a href="#">О нас</a>
                </div>
            </div>
            <div class="list_table">
                <div class="list_3">
                    <a href="#">Сообщения</a>
                    <a href="#">Вакансии</a>
                    <a href="#">Аналитика</a>
                    <a href="#">Профиль</a>
                </div>
            </div>
            <div class="plus">
                <div class="list_table">
                    <a href="#" class="list_dark">Контактные данные</a>
                    <a href="#" class="list_1_a">example@gmail.com</a>
                    <a href="#" class="list_1_a">+7 (988) 333-42-02</a>
                </div>
                <div class="list_table">
                    <a href="#" class="list_1_a">Группа Вконтакте</a>
                    <a href="#" class="list_1_a">Техническая поддержка</a>
                </div>
            </div>
            <div class="footer_logo">
                <p>GrassJob © 2023</p>
            </div>
        </div>
    </div>
</footer>