<form_2>
    <div class="form_block_2">
        <div class="title">
            <p>Создание аккаунта</p>
        </div>
        <div class="subtext">
            <p>Для чего вы создаете аккаунт?</p>
        </div>
        <div class="sex">
            <input type="button" value=" Ищу работу " class="btn-sex  work" onclick="deletedItem('INN')">
            <input type="button" value=" Ищу сотрудников " class="btn-sex sex-grey workers" onclick="AddItem('INN')">
        </div>

        <div class="buttons">
            <button class="button_1">Продолжить</button>
            <button class="button_2">Войти в аккаунт</button>
        </div>
    </div>
</form_2>