{% load static %}
<form_2>
    <div class="form_block_2">
        <div class="title">
            <p>Создание аккаунта</p>
        </div>
        <div class="subtext">
            <p>Для чего вы создаете аккаунт?</p>
        </div>
        <div class="selector">
            <div class="left" type="radio">
            </div>
            <div class="right" type="radio">
            </div>
        </div>
        <div class="buttons">
            <button class="button_1">Продолжить</button>
            <button class="button_2">Войти в аккаунт</button>
        </div>
    </div>
</form_2>