{% load static %}

 <div class="container">
    <div class="items">
        <div class="name">
            <img src="{% static 'img/vector.svg' %}" alt="">
            <p>Москва</p>
        </div>
        <nav class="navig_but">
            <a href="№" class="navigation">Работодатели</a>
            <a href="#" class="navigation">Вузы</a>
            <a href="#" class="navigation">Статьи</a>
            <a href="#" class="navigation">Партнеры</a>
            <a href="#" class="navigation nav-last">О нас</a>
        </nav>
    </div>
</div>