<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
{% include 'components/header.html' %}
<div class="box">
    <section class="columns is-centered">
        <div class="column is-two-thirds is pt-3">
            <h1 class="title has-text-primary level-item has-text-centered">Найди работу по специальности</h1>
            <div class="field has-addons center">
                <p class="control is-expanded">
                    <input class="input is-primary is-medium" type="text" placeholder="Поиск работы">
                </p>
                <p class="control">
                    <a class="button is-medium is-success has-text-primary">Поиск</a>
                </p>
            </div>

        {% for vacancy in vacancies %}
            <div class="notification is-primary has-text-centered">
                <p class="title">{{ vacancy.job_name }}</p>
                <p>{{ vacancy.company.company_name }}</p>
                <p> <span> от </span> {{ vacancy.salary_min }} руб. </p>
                <p>{{ vacancy.location }}</p>
            </div>
        {% endfor %}
        </div>
    </section>



</div>
{% endblock %}
