<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Home{% endblock %}

{% block content %}
{% include 'components/header.html' %}
<main class="main-background">
    <div class="home-container">
        <div class="home-welcome">
            <h2 class="home-welcome-title">Начните свою карьеру<br>в сельскохозяйственной сфере!</h2>
            <p class="home-welcome-subtitle">Наша платформа помогает связать<br>работодателей и соискателей в одном
                месте.</p>
            <div class="home-welcome__buttons">
                <button class="btn-primary-large btn-fluid">Смотреть вакансии</button>
                <button class="btn-secondary-large btn-fluid">Смотреть соискателей</button>
            </div>
        </div>
        <div class="home-menu">
            <div class="home-menu__card">
                <a href="#" class="home-menu__card-link">
                    <div class="home-menu__card-item">
                        <img src="{% static 'img/internships/1.png' %}" class="home-menu__card-img" alt="меню стажировки">
                        <div class="home-menu__card-content">
                            <h3 class="home-menu__card-content-title">Стажировки</h3>
                            <p class="home-menu__card-content-subtitle">Отличный старт для
                                будущей карьеры и шанс улучшить свои навыки.</p>
                        </div>
                    </div>   
                </a>
            </div>
            <div class="home-menu__card">
                <a href="#" class="home-menu__card-link">
                    <div class="home-menu__card-item">
                        <img src="{% static 'img/internships/2.png' %}" class="home-menu__card-img" alt="меню стажировки">
                        <div class="home-menu__card-content">
                            <h3 class="home-menu__card-content-title">Практики</h3>
                            <p class="home-menu__card-content-subtitle">Получайте ценные знания и навыки, которые помогут в будущей карьере.</p>
                        </div>
                    </div>   
                </a>
            </div>
            <div class="home-menu__card">
                <a href="#" class="home-menu__card-link">
                    <div class="home-menu__card-item">
                        <img src="{% static 'img/internships/3.png' %}" class="home-menu__card-img" alt="меню стажировки">
                        <div class="home-menu__card-content">
                            <h3 class="home-menu__card-content-title">Поиск жилья</h3>
                            <p class="home-menu__card-content-subtitle">Предоставление места для проживания от работодателей.</p>
                        </div>
                    </div>   
                </a>
            </div>
            <div class="home-menu__card">
                <a href="#" class="home-menu__card-link">
                    <div class="home-menu__card-item">
                        <img src="{% static 'img/internships/4.png' %}" class="home-menu__card-img" alt="меню стажировки">
                        <div class="home-menu__card-content">
                            <h3 class="home-menu__card-content-title">Блог о карьере</h3>
                            <p class="home-menu__card-content-subtitle">Делитесь своим опытом с другими и заводите полезные знакомства.</p>
                        </div>
                    </div>   
                </a>
            </div>
        </div>
        <div class="home-article">
            <div class="home-article__header">
                <h2 class="home-article__header-name">Новые вакансии</h2>
                <a class="home-article__header-link" href="#">Показать всё</a>
            </div>
            <div class="home-article__items">
                {% for vac in vacancies %}
                    {% include 'components/home-entity-card-vacancy.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="home-article">
            <div class="home-article__header">
                <h2 class="home-article__header-name">Компании недели</h2>
                <a class="home-article__header-link" href="#">Показать всё</a>
            </div>
            <div class="home-article__items">
                {% for c in companies %}
                    {% include 'components/home-entity-card-company.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="home-article">
            <div class="home-article__header">
                <h2 class="home-article__header-name">Соискатели недели</h2>
                <a class="home-article__header-link" href="#">Показать всё</a>
            </div>
            <div class="home-article__items">
                {% for w in workers %}
                    {% include 'components/home-entity-card-worker.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="home-article">
            <div class="home-article__header">
                <h2 class="home-article__header-name">Новости агросферы</h2>
                <a class="home-article__header-link" href="#">Показать всё</a>
            </div>
            <div class="home-article__items">
                {% for w in workers %}
                    {% include 'components/home-entity-card-worker.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
   
    
    <!-- ----------------------------------- -->

            <div class="news">
                <div class="title_index">
                    <h1>Новости</h1>
                    <a href="#">Показать всё</a>
                </div>
                <div class="news_cards">
                    <div class="new_card">
                        <div class="news_title">
                            <h2>Открылись стажировки</h2>
                            <h3>Отличный старт для будущей карьеры и шанс улучшить свои навыки.</h3>
                        </div>
                        <img src="{% static 'img/internships/1.png' %}">
                        <div class="caption">
                            <div class="views">
                                <img src="{% static 'img/eye2.svg' %}">
                                <h4>56</h4>
                            </div>
                            <h4>42 мин. назад</h4>
                        </div>
                    </div>
                    <div class="new_card">
                        <div class="news_title">
                            <h2>Началась практика</h2>
                            <h3>Получайте ценные знания и навыки, которые помогут в будущей карьере.</h3>
                        </div>
                        <img src="{% static 'img/internships/2.png' %}">
                        <div class="caption">
                            <div class="views">
                                <img src="{% static 'img/eye2.svg' %}">
                                <h4>56</h4>
                            </div>
                            <h4>Вчера</h4>
                        </div>
                    </div>
                    <div class="new_card">
                        <div class="news_title">
                            <h2>Компании дают жильё</h2>
                            <h3>Предоставление места для проживания от работодателей.</h3>
                        </div>
                        <img src="{% static 'img/internships/3.png' %}">
                        <div class="caption">
                            <div class="views">
                                <img src="{% static 'img/eye2.svg' %}">
                                <h4>56</h4>
                            </div>
                            <h4>20.04</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</main>
{% include 'components/footer.html' %}
{% endblock %}