<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'components/header.html' %}
    <main>
      <!-- <img src="{% static 'img/main.png' %}">--> 
        <div class="main_bloks">
        <div class="main">
            <div class="main_text">
                <div class="header_and_subheader">
                    <h1>Начните свою карьеру<br>в сельскохозяйственной сфере!</h1>
                    <h2>Наша платформа помогает связать<br>работодателей и соискателей в одном месте.</h2>
                </div>
                <div class="buttons_index">
                    <button class="button_1">Смотреть вакансии</button>
                    <button class="button_2">Смотреть соискателей</button>
                </div>
            </div>
        </div>
    </div>

    <div class="content_index">
        <div class="container">
            <div class="categories">
                <div class="internships">
                    <div class="picture">
                        <img src="{% static 'img/internships/1.png' %}">
                    </div>
                    <div class="text">
                        <h2>Стажировки</h2>
                        <h3>Отличный старт для<br>будущей карьеры и шанс<br>улучшить свои навыки.</h3>
                    </div>
                </div>
                <div class="internships">
                    <div class="picture">
                        <img src="{% static 'img/internships/2.png' %}">
                    </div>
                    <div class="text">
                        <h2>Практики</h2>
                        <h3>Получайте ценные знания<br>и навыки, которые помогут<br>в будущей карьере.</h3>
                    </div>
                </div>
                <div class="internships">
                    <div class="picture">
                        <img src="{% static 'img/internships/3.png' %}">
                    </div>
                    <div class="text">
                        <h2>Поиск жилья</h2>
                        <h3>Предоставление места<br>для проживания от<br>работодателей.</h3>
                    </div>
                </div>
                <div class="internships">
                    <div class="picture">
                        <img src="{% static 'img/internships/4.png' %}">
                    </div>
                    <div class="text">
                        <h2>Блог о карьере</h2>
                        <h3>Делитесь своим опытом с<br>другими и заводите<br>полезные знакомства.</h3>
                    </div>
                </div>
            </div>

            <div class="news_vacancies">
                <div class="title_index">
                    <h1>Новые вакансии</h1>
                    <a href="#">Показать всё</a>
                </div>
                <div class="vacancies_blok">
                    <div class="vacancy_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/logo_green.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>GrassJob</h3>
                                    <h3>от 50 000 ₽</h3>
                                </div>
                                <h2>Менеджер</h2>
                            </div>
                        </div>
                        <p>Мы ищем уверенного и профессионального менеджера, который будет заниматься продажами и
                            управлением клиентской базой нашей компании.</p>
                    </div>
                    <div class="vacancy_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/logo_green.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>GrassJob</h3>
                                    <h3>от 80 000 ₽</h3>
                                </div>
                                <h2>Инженер</h2>
                            </div>
                        </div>
                        <p>Требуется опытный инженер, которому предстоит работа в сфере инженерии и технологии.
                            Идеальный кандидат будет иметь высокие технические знания.</p>
                    </div>
                    <div class="vacancy_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/logo_green.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>GrassJob</h3>
                                    <h3>от 65 000 ₽</h3>
                                </div>
                                <h2>Агроном</h2>
                            </div>
                        </div>
                        <p>Если вы обладаете знаниями и опытом в области сельского хозяйства, умеете работать с техникой
                            и заботиться о растениях, мы будем рады видеть вас в нашей команде.</p>
                    </div>
                </div>
                <div class="vacancies_blok">
                    <div class="vacancy_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/logo_green.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>GrassJob</h3>
                                    <h3>от 50 000 ₽</h3>
                                </div>
                                <h2>Менеджер</h2>
                            </div>
                        </div>
                        <p>Мы ищем уверенного и профессионального менеджера, который будет заниматься
                            продажами и управлением клиентской базой нашей компании.</p>
                    </div>
                    <div class="vacancy_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/logo_green.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>GrassJob</h3>
                                    <h3>от 80 000 ₽</h3>
                                </div>
                                <h2>Инженер</h2>
                            </div>
                        </div>
                        <p>Требуется опытный инженер, которому предстоит работа в сфере инженерии и технологии.
                            Идеальный кандидат будет иметь высокие технические знания.</p>
                    </div>
                    <div class="vacancy_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/logo_green.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>GrassJob</h3>
                                    <h3>от 65 000 ₽</h3>
                                </div>
                                <h2>Агроном</h2>
                            </div>
                        </div>
                        <p>Если вы обладаете знаниями и опытом в области сельского хозяйства, умеете работать с техникой
                            и заботиться о растениях, мы будем рады видеть вас в нашей команде.</p>
                    </div>
                </div>
            </div>

            <div class="companies">
                <div class="title_index">
                    <h1>Компании недели </h1>
                    <a href="#">Показать всё</a>
                </div>
                <div class="companies_blok">
                    <div class="company_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/logo_green.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>Москва</h3>
                                </div>
                                <h2>GrassJob</h2>
                            </div>
                        </div>
                        <p>Компания в сельскохозяйственной сфере специализируется на производстве и продаже
                            высококачественных сельскохозяйственных товаров и других инновационные продуктов.</p>
                    </div>
                    <div class="company_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/logo_green.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>Москва</h3>
                                </div>
                                <h2>GrassJob</h2>
                            </div>
                        </div>
                        <p>Компания в сельскохозяйственной сфере специализируется на производстве и продаже
                            высококачественных сельскохозяйственных товаров и других инновационные продуктов.</p>
                    </div>
                    <div class="company_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/logo_green.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>Москва</h3>
                                </div>
                                <h2>GrassJob</h2>
                            </div>
                        </div>
                        <p>Компания в сельскохозяйственной сфере специализируется на производстве и продаже
                            высококачественных сельскохозяйственных товаров и других инновационные продуктов.</p>
                    </div>
                </div>
                <div class="companies_blok">
                    <div class="company_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/logo_green.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>Москва</h3>
                                </div>
                                <h2>GrassJob</h2>
                            </div>
                        </div>
                        <p>Компания в сельскохозяйственной сфере специализируется на производстве и продаже
                            высококачественных сельскохозяйственных товаров и других инновационные продуктов.</p>
                    </div>
                    <div class="company_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/logo_green.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>Москва</h3>
                                </div>
                                <h2>GrassJob</h2>
                            </div>
                        </div>
                        <p>Компания в сельскохозяйственной сфере специализируется на производстве и продаже
                            высококачественных сельскохозяйственных товаров и других инновационные продуктов.</p>
                    </div>
                    <div class="company_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/logo_green.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>Москва</h3>
                                </div>
                                <h2>GrassJob</h2>
                            </div>
                        </div>
                        <p>Компания в сельскохозяйственной сфере специализируется на производстве и продаже
                            высококачественных сельскохозяйственных товаров и других инновационные продуктов.</p>
                    </div>
                </div>
            </div>

            <div class="applicants">
                <div class="title_index">
                    <h1>Соискатели недели</h1>
                    <a href="#">Показать всё</a>
                </div>
                <div class="candidates_blok">
                    <div class="candidate_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/avatar.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>Инженер</h3>
                                    <h3>GrassJob</h3>
                                </div>
                                <h2>Иван Иванов</h2>
                            </div>
                        </div>
                        <p>Я разработчик с большим опытом. Имею высокую экспертизу в разработке высоконагруженных
                            систем, а также постоянно развиваюсь в профессиональном плане.</p>
                    </div>
                    <div class="candidate_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/avatar.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>Инженер</h3>
                                    <h3>GrassJob</h3>
                                </div>
                                <h2>Иван Иванов</h2>
                            </div>
                        </div>
                        <p>Я разработчик с большим опытом. Имею высокую экспертизу в разработке высоконагруженных
                            систем, а также постоянно развиваюсь в профессиональном плане.</p>
                    </div>
                    <div class="candidate_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/avatar.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>Инженер</h3>
                                    <h3>GrassJob</h3>
                                </div>
                                <h2>Иван Иванов</h2>
                            </div>
                        </div>
                        <p>Я разработчик с большим опытом. Имею высокую экспертизу в разработке высоконагруженных
                            систем, а также постоянно развиваюсь в профессиональном плане.</p>
                    </div>
                </div>
                <div class="candidates_blok">
                    <div class="candidate_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/avatar.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>Инженер</h3>
                                    <h3>GrassJob</h3>
                                </div>
                                <h2>Иван Иванов</h2>
                            </div>
                        </div>
                        <p>Я разработчик с большим опытом. Имею высокую экспертизу в разработке высоконагруженных
                            систем, а также постоянно развиваюсь в профессиональном плане.</p>
                    </div>
                    <div class="candidate_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/avatar.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>Инженер</h3>
                                    <h3>GrassJob</h3>
                                </div>
                                <h2>Иван Иванов</h2>
                            </div>
                        </div>
                        <p>Я разработчик с большим опытом. Имею высокую экспертизу в разработке высоконагруженных
                            систем, а также постоянно развиваюсь в профессиональном плане.</p>
                    </div>
                    <div class="candidate_card">
                        <div class="head_layout_top">
                            <img src="{% static 'img/avatar.svg' %}">
                            <div class="title_blok">
                                <div class="head_layout_down">
                                    <h3>Инженер</h3>
                                    <h3>GrassJob</h3>
                                </div>
                                <h2>Иван Иванов</h2>
                            </div>
                        </div>
                        <p>Я разработчик с большим опытом. Имею высокую экспертизу в разработке высоконагруженных
                            систем, а также постоянно развиваюсь в профессиональном плане.</p>
                    </div>
                </div>
            </div>

            <div class="news">
                <div class="title_index">
                    <h1>Новости</h1>
                    <a href="#">Показать всё</a>
                </div>
                <div class="news_cards">
                    <div class="new_card">
                        <div class="news_title">
                            <h2>Открылись стажировки</h2>
                            <h3>Отличный старт для будущей карьеры и шанс улучшить свои навыки.</h3>
                        </div>
                        <img src="{% static 'img/internships/1.png' %}">
                        <div class="caption">
                            <div class="views">
                                <img src="{% static 'img/eye2.svg' %}">
                                <h4>56</h4>
                            </div>
                            <h4>42 мин. назад</h4>
                        </div>
                    </div>
                    <div class="new_card">
                        <div class="news_title">
                            <h2>Началась практика</h2>
                            <h3>Получайте ценные знания и навыки, которые помогут в будущей карьере.</h3>
                        </div>
                        <img src="{% static 'img/internships/2.png' %}">
                        <div class="caption">
                            <div class="views">
                                <img src="{% static 'img/eye2.svg' %}">
                                <h4>56</h4>
                            </div>
                            <h4>Вчера</h4>
                        </div>
                    </div>
                    <div class="new_card">
                        <div class="news_title">
                            <h2>Компании дают жильё</h2>
                            <h3>Предоставление места для проживания от работодателей.</h3>
                        </div>
                        <img src="{% static 'img/internships/3.png' %}">
                        <div class="caption">
                            <div class="views">
                                <img src="{% static 'img/eye2.svg' %}">
                                <h4>56</h4>
                            </div>
                            <h4>20.04</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </main>
    {% include 'components/footer.html' %}
{% endblock %}
