{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'components/header.html' %}
<main>
    <div class="flex-main">
        <!-- <div x-data="{ isModalOpen: false }" >
            <div  class="modal" role="dialog" tabindex="-1" x-show="isModalOpen" x-on:click.away="isModalOpen = false"
                x-cloak x-transition>
                <div class="model-inner">
                    <div class="modal-header">
                        <h3>Hello World</h3>
                        <button aria-label="Close" x-on:click="isModalOpen=false">✖</button>
                    </div>
                    <p>
                        Natus earum velit ab nobis eos. Sed et exercitationem voluptatum omnis
                        dolor voluptates. Velit ut ipsam sunt ipsam nostrum. Maiores officia
                        accusamus qui sapiente. Dolor qui vel placeat dolor nesciunt quo dolor
                        dolores. Quo accusamus hic atque nisi minima.
                    </p>
                </div>
            </div>
            <button x-on:click="isModalOpen = true">Open Modal</button>
            <div class="overlay" x-show="isModalOpen" x-cloak></div>
        </div> -->
        <div>
            {% include 'profile_app/modal-main-information.html' %}
            {% include 'profile_app/modal-exp-job.html' %}
            {% include 'profile_app/modal-exp-job-confirm-delete.html' %}
            {% include 'profile_app/modal-exp-job-add.html' %}
            {% include 'profile_app/modal-education.html' %}
            {% include 'profile_app/modal-education-confirm-delete.html' %}
            {% include 'profile_app/modal-education-add.html' %}
            {% include 'profile_app/modal-about-me.html' %}
            {% include 'profile_app/modal-contact-information.html' %}
        </div>
        <div>
            <input type="text" class="input" placeholder="place">
            <input type="text" class="input" placeholder="place">
            <input type="text" class="input input-error" placeholder="place">
        </div>
        <div style="background-color: white">
            <button class="btn-primary-large">Button</button>
            <button class="btn-secondary-large">Button</button>
            <button class="btn-primary-medium">Button</button>
            <button class="btn-secondary-medium">Button</button>
            <button class="btn-primary-small">Button</button>
            <button class="btn-secondary-small">Button</button>
            <button class="btn-primary-large-is-danger">Button</button>
            <button class="btn-secondary-large-is-danger">Button</button>
            <button class="btn-primary-medium-is-danger">Button</button>
            <button class="btn-secondary-medium-is-danger">Button</button>
            <button class="btn-primary-small-is-danger">Button</button>
            <button class="btn-secondary-small-is-danger">Button</button>
        </div>
        {% include 'components/profile/main.html' %}
    </div>
</main>
{% include 'components/footer.html' %}
{% endblock %}