{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'components/header.html' %}
<main>
    <div class="flex-main">
        {% include 'components/forms/form_signup_1.html' %}
        {% include 'components/forms/form_signup_2.html' %}
        {% include 'components/forms/form_signup_3.html' %}
        {% include 'components/forms/form_signup_4_worker.html' %}
        {% include 'components/forms/form_signup_4_employer.html' %}
        {% include 'components/forms/form_signup_5.html' %}
        <div>
            <input type="text" class="input" placeholder="place">
            <input type="text" class="input" placeholder="place">
            <input type="text" class="input input-error" placeholder="place">
        </div>
        <div style="background-color: white">
            <button class="btn-primary-large">Button</button>
            <button class="btn-secondary-large">Button</button>
            <button class="btn-primary-medium">Button</button>
            <button class="btn-secondary-medium">Button</button>
            <button class="btn-primary-small">Button</button>
            <button class="btn-secondary-small">Button</button>
            <button class="btn-primary-large-is-danger">Button</button>
            <button class="btn-secondary-large-is-danger">Button</button>
            <button class="btn-primary-medium-is-danger">Button</button>
            <button class="btn-secondary-medium-is-danger">Button</button>
            <button class="btn-primary-small-is-danger">Button</button>
            <button class="btn-secondary-small-is-danger">Button</button>
        </div>
    </div>
</main>
{% include 'components/footer.html' %}
{% endblock %}